#mui-main div#mui-facets {
    width: 16em;
    height: 10.5em;
    float: left;
    overflow: auto;
}
ul.mui-tabs-top-style {
    margin: 0;
    height: 2.3em;
    margin-right: 5px !important;
    border: 0px hidden !important;
}
li.mui-tabs-top-style {
    border: solid;
    border-width: 1px 1px 0 1px !important;
    border-color: rgb(212,212,212);
    border-radius: 6px 6px 0px 0px;
    margin: 0px 5px 0px 0px;
    padding: 10px 10px 5px 10px;
}
li.mui-tabs-top-style a {
    padding: 0 !important;
    margin-top: 0 !important;
    min-width: 0 !important;
}
div.mui-concept-constraints div.gridStyle {
    clear: both;
    height: 7.5em;
}

div.mui-concept-constr-slider {
    width: 15em;
    padding: 20px;
}

div.mui-concept-constr-slider input {
  margin-top: 10px;
}