.mui-facet-row {
  width: 15em;
}
.mui-facet-cell {
  /*width: 15em; */
}

.mui-collapse {
  cursor: pointer;
  /*width: 1em !important;*/
  float: left;
}

.mui-facet-name {
  /*width: 15em; */
  /*display:inline-block*/
  margin-left: 5px;
}

.mui-selected {
    background-color: #C9DDE1;
}

.mui-facet-row {
  text-overflow:ellipsis;
  overflow:hidden; 
  width:300%;
}

.mui-facet-viewport {
  overflow-x: hidden !important;
}