#mappify-marker-preview {
  background-color: #FFF;
  height: 60px;
  width: 80px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

#mappify-marker-preview div {
  padding-top: 3px;
}

#mappify-marker-preview span {
    font-size: 80%;
}

#mappify-set-marker {
  margin-left: 10em;
}

.modal {
  display: block; 
}

#mappify-sponate-query {
  clear: both;
}

.mappify-textarea-heading {
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #FFF;
  font-weight: bold;
}

.mappify-textarea-info {
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #FFF;
}

div#mappify-sponate-query textarea {
  width: 21em;
  height: 17em;
/*   font-size: 9pt; */
}

div#mappify-sponate-mapping textarea {
  width: 21em;
  height: 10em;
}

div#mappify-info-template textarea {
  width: 21em;
  height: 8em;
}

.mappify-sponate-query-var {
  color: #FFF;
  margin-right: 1em;
  font-style: italic;
}

.mappify-settings-bottomrule {
  border-bottom: 1px solid #DDDDDD;
}

.mappify-marker-radio {
  margin-right: 2em;
}

.modal.fade.in {
  width: 600px;
  height: 518px;
  overflow: hidden;
}

.modal-dialog {
  width: 600px;
  height: 300px;
  margin: 0;
}