#mappify-marker-preview {
  background-color: #FFF;
  height: 60px;
  width: 80px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

#mappify-marker-preview div {
  padding-top: 5px;
}

#mappify-marker-preview span {
    font-size: 80%;
}

#mappify-set-marker {
  margin-left: 10em;
}

.modal {
  display: block; 
}

#mappify-sponate-query {
  clear: both;
}

.mappify-textarea-heading {
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #FFF;
}

div#mappify-sponate-query textarea, div#mappify-sponate-mapping textarea, div#mappify-info-template textarea{
  width: 21em;
  height: 12em;
}