<div id="mui-tab-content-costraints">
  <div id="mui-facets" ng-controller="FacetTreeCtrl">
      <div ng-include="'views/facet-tree.html'"></div>
    </div>
  <div id="mui-constraints" class="tabbable">
    <ul class="nav nav-tabs mui-tabs-top-style">
      <li class="mui-tabs-top-style"><a ng-click="setActive('value')">value</a></li>
      <li class="mui-tabs-top-style"><a ng-click="setActive('range')">value range</a></li>
    </ul>
    <div class="tab-content">
      <div ng-show="activeConstrTab=='value'" class="mui-concept-constraints">
        <div class="gridStyle" ng-grid="constraintValuesGridOptions"></div>
      </div>
    </div>
    <div class="tab-content">
      <div ng-show="activeConstrTab=='range'" class="mui-concept-constraints">
        <div class="mui-concept-constr-slider">
            <div id="mui-concept-constr-slider-instance"
                ui-slider="{range: true}" min="{{initMinMax[0]}}"
                max="{{initMinMax[1]}}" step="0.001" use-decimals ng-model="minMax"/>
            <input type="text" ng-model="minMax" />
        </div>
      </div>
    </div>
  </div>
  <div id="mui-concept-settings" />
</div>