<div ng-class="{'frame': facet.isExpanded}">
  <div class="facet-row mui-facet-row" ng-class="{'highlite': facet.isExpanded}">
    <a ng-show="facet.isExpanded" href="" ng-click="toggleCollapsed(facet.item.getPath())">
      <!--span class="glyphicon glyphicon-chevron-down"></span-->
      <span class="glyphicon icon-chevron-down"></span>
    </a>
    <a ng-show="!facet.isExpanded" href="" ng-click="toggleCollapsed(facet.item.getPath())">
      <!--span class="glyphicon glyphicon-chevron-right"></span-->
      <span class="glyphicon icon-chevron-right"></span>
    </a>
    <a title="{{facet.item.getNode().getUri()}}" href="" ng-click="toggleSelected(facet.item.getPath())">{{facet.item.getNode().getUri()}}</a>
    <span style="float: right" class="badge">{{facet.item.getDistinctValueCount()}}</span>  
  </div>

  <span
      ng-show="facet.isExpanded && facet.children.length == 0"
      style="color: #aaaaaa; padding-left: {{16 * (facet.item.getPath().getLength() + 1)}}px">
    (no entries)
  </span>
  <div
      style="padding-left: {{16 * (facet.item.getPath().getLength() + 1)}}px"
      ng-repeat="facet in facet.children"
      ng-include="'views/facet-tree-item.html'"></div>
</div>