<div class="gridStyle ngGrid unselectable">
  <!-- header start -->
  <div ng-style="topPanelStyle()"
      ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}"
      class="ngTopPanel" style="width: 270px; height: 30px;">
    <div class="ngHeaderContainer" style="width: 270px; height: 30px; float: left; position: absolute;">
      <div class="ngHeaderCell" style="height: 30px;">
        <div ng-class="{ ngVerticalBarVisible: false }" class="ngVerticalBar"
            style="height: 30px;">&nbsp;</div>
        <div class="ngHeaderText">
          facets
        </div>
      </div>
    </div>
  </div>
  <!-- header end -->
  <div class="ngViewport mui-facet-viewport" ng-class="{'ui-widget-content': jqueryUITheme}"
      unselectable="on" tabindex="0" style="width: 270px; height: 148px;">
    <div class="ngCanvas" style="height: 120px;">
      <!--facet-tree-item view="facetTree.getView()" facets="facetTree.getView().getChildren(rootPath)" path="rootPath" depth="1"></facet-tree-item-->
    </div>
  </div>
</div>