<div id="mappify-main">
    <button id="map-sec-init" class="btn map-sec-btn"
            ng-class="{'btn-info': initBtn.active}"
            ng-click="toggleInitBoxDraw()">
        set initial map section</button>
    <button id="map-sec-max" class="btn map-sec-btn"
            ng-class="{'btn-info': maxBtn.active}"
            ng-click="toggleMaxBoxDraw()">
        set maximal map section</button>
    <button id="mappify-map-update" class="btn btn-info"
            ng-click="updateMap()">update map</button>
    
    <div id="map" class="olMap"></div>
    
    <div id="mappify-controls">
        <div class="slimscroll">
        <div id="mappify-concepts-grid">
            <div class="gridStyle" ng-grid="conceptGridOptions"></div>
            
            <div id="mappify-concepts-grid-buttons">
                <button class="btn btn-info" ng-click="createConcept()">+
                </button>
                <button ng-click="deleteConcept()" ng-show="selectionMade()"
                        class="btn btn-info">-</button>
            </div>
        </div>
        
        <div id="mappify-settings-controls" class="tabbable tabs-top">
            <ul class="nav nav-tabs">
                <li ng-show="selectionMade()" class="mappify-control-tab"
                        ng-class="getTabClass('filter')">
                    <a ng-click="activeTab='filter'"><i class="icon-filter"/></a>
                </li>
                <li ng-show="!selectionMade()"
                        class="mappify-control-tab mappify-deactivated-tab"
                        ng-class="getTabClass('filter')">
                    <a><i class="icon-filter"/></a>
                </li>
                <li ng-show="selectionMade()" class="mappify-control-tab"
                        ng-class="getTabClass('ui')">
                    <a ng-click="activeTab='ui'"><i class="icon-comment"/></a>
                </li>
                <li ng-show="!selectionMade()"
                        class="mappify-control-tab mappify-deactivated-tab"
                        ng-class="getTabClass('ui')">
                    <a><i class="icon-comment"/></a>
                </li>
            </ul>
            <div class="tab-content">
	            <div ng-show="activeTab=='filter' && selectionMade()">dummy</div>
            </div>
            <div class="tab-content">
                <div ng-show="activeTab=='ui' && selectionMade()" ng-controller="UiSettingsCtrl">
                    <div ng-include="'views/ui-settings.html'"></div>
                </div>
            </div>
            <div ng-show="!selectionMade()" class="tab-content"><span class="mappify-info">
                no selection made
            </span></div>
        </div>
        </div>
    </div>
    
</div>

