<div id="mappify-ui-settings">
    <div id="mappify-marker-preview">
        <div ng-show="markerSelected()">
            <img id="mappify-marker-img" 
                    src="{{markerFilePath}}">
        </div>
        <span ng-show="!markerSelected()">No marker selected</span>
    </div>
    <div id="mappify-set-marker">
        <button class="btn btn-info" ng-click="open()">set marker</button>
    </div>
    
    <div id="mappify-sponate-query">
        <div class="mappify-textarea-heading">SPONATE attribute SPARQL query</div>
        <textarea ng-model="sponateQuery"
                ng-change="updateQueryStatus(sponateQuery)">
        </textarea>
    </div>
    
    <div id="mapify-sponate-variables" class="mappify-settings-bottomrule">
        <div class="mappify-textarea-info">available variables:</div>
        <span class="mappify-sponate-query-var" ng-repeat="var in queryVars()">{{var}}</span>
    </div>
    
    <div id="mappify-sponate-mapping" class="mappify-settings-bottomrule">
        <div class="mappify-textarea-heading">SPONATE mapping</div>
        <textarea ng-model="sponateMapping"
                ng-change="updateSponateMappingStatus(sponateMapping)">
        </textarea>
    </div>
    
    <div id="mappify-info-template">
        <div class="mappify-textarea-heading">Info template</div>
        <textarea ng-model="infoTemplate"
                ng-change="updateInfoTemplateStatus(infoTemplate)">
        </textarea>
    </div>
</div>