<div id="mappify-ui-settings">
    <div id="mappify-marker-preview">
        <div ng-show="markerSelected()">
            <img id="mappify-marker-img" 
                    src="{{markerFilePath}}">
        </div>
        <span ng-show="!markerSelected()">No marker selected</span>
    </div>
    <div id="mappify-set-marker">
        <button class="btn btn-info" ng-click="open()">set marker</button>
    </div>
    
    <div id="mappify-sponate-query">
        <div class="mappify-textarea-heading">SPONATE attribute SPARQL query</div>
        <textarea ng-model="sponateQuery"
                ng-change="updateQueryStatus(sponateQuery)">
        </textarea>
    </div>
</div>